* {box-sizing: border-box;}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  h1{
    margin: 20px;
  }
  #book-shelf{
    margin-bottom: 100px;
    padding: 20px;
    article{
      float:left;
    }
    img {
      border: solid black 5px;
      max-height: 530px;
      overflow: auto;
      width:100%;
    }
    p{
      padding: 10px, 20px, 0px, 20px;
      span{
        font-size: 20px;
        font-style: italic;
      }
    }
    button{
      border: solid 1px black;
      border-radius: 10px;
      margin-bottom: 2%;
      width: 100%;
      .amazon{
        background-color: rgb(252, 135, 6);
      }
      ion-icon {
        font-size: 24px;
        margin: auto;
      }
      a{
        color: #fff;
      }
    }
  }
  #myBtnContainer{
    margin-bottom:auto;
    margin-top:auto;
    text-align:center;
    /* Style the buttons */
    .btn {
      background-color: #f1f1f1;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 12px 16px;
    }
    /* Add a light grey background on mouse-over */
    .btn:hover {
      background-color: #ddd;
    }
    /* Add a dark background to the active button */
    .btn.active {
      background-color: #666;
      color: white;
    }
  }
}

/*THE Dropdown Menu*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: none;
  margin-left: 20px;
  position: relative;
  /* Dropdown Button */
  .dropbtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    padding: 16px;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    height: 400px;
    min-width: 160px;
    opacity: 0.95;
    overflow-y: auto;
    position: absolute;
    z-index: 1;
  }
  /* Links inside the dropdown */
  a {
    color: black;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    width: 100%;
  }
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

footer{
  background-color: black;
  bottom: 0;
  height: 100px;
  padding: 20px;
  position: fixed;
  width: 100%;
  p{
    color: white;
    margin-top: 10px;
  }
}
/*MEDIA QUERIES*/
@media screen and (max-width: 790px) {
  #myBtnContainer{
    display: none;
  }
  .dropdown{
    display: inline-block;
  }
}
